
#logintop{
	background: #ffffff url(/static/img/photo.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	color: #000;
	font: 14px Arial;
	position: relative;
}
#loginup{
	margin: auto;
	height:600px;
	width:1200px;
}
#loginleft{

}
#loginjumbo{
	margin: auto;
	padding: 30px;
}
.footimg{
	width: 200px;
	height:150px;
	margin: auto;
	padding: 30px;
	text-align: center;
}
