
#logintop{
	background: #ffffff url(/static/img/photo.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	color: #000;
	font: 14px Arial;
	position: relative;
}
#loginup{
	margin: auto;
	height:600px;
	width:1200px;
}
#content{
	margin: 20px auto;
	padding: 30px;
	border:3px solid rgb(237,148,66);
	height:510px;
	width:350px;
	text-align: center;
	background-color: #000000;
	filter:alpha(opacity=50);  
    opacity: 0.5;  
}
#loginjumbo{
	margin: auto;
	padding: 30px;
}
.footimg{
	margin: auto;
	padding: 30px;
	text-align: center;
}
.myinput{
	width: 250px;
	height:50px;
	margin: 10px;
	padding: 10px;
	border:3px solid rgb(237,148,66);
}
#forgetpasswordBtn,
#registerBtn,
#validcodeBtn,
#loginBtn{
	width: 250px;
	height:50px;
	margin: 10px;
	padding: 10px;
	color:rgb(255,255,255);
	background-color:rgb(237,148,66);
	border-color:rgb(237,148,66);
}

#questionBtn{
	color:rgb(255,255,255);
	background-color:rgb(237,148,66);
	border-color:rgb(237,148,66);
}

#forgetpasswordForm,
#registerForm{
	margin-top: -40px;
}
