<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd   
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	<description>Shiro 配置</description>
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/system/login" />
		<property name="successUrl" value="/system" />
		<property name="unauthorizedUrl" value="/page403.html" />
		<property name="filterChainDefinitions">
			<value> 
	            /static/**=anon
				/system/login**=anon
				/system/register**=anon
				/system/forgetpassword**=anon
				/system/logout**=anon
				/system/loginCheck**=anon
				/system/addUser**=anon
				/system/getbackpassword**=anon
				/system/changepass**=anon
				/valid/getvaildcode**=anon
	            /** = authc
			</value>
		</property>
	</bean>
	
	<!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="3600000"/>
    </bean>
    
    <bean id="shiroCache" class="org.apache.shiro.cache.MemoryConstrainedCacheManager">
    </bean>
	
	<bean id="userRealm" class="com.bisys.core.service.shiro.UserRealm">
	</bean>
    
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="shiroCache"/>
		<property name="realm" ref="userRealm" />
	</bean>
	
    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>
    
    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

	<!-- Shiro注解-->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">  
	    <property name="proxyTargetClass" value="true" />  
	</bean>  
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">  
	    <property name="securityManager" ref="securityManager"/>  
	</bean> 
</beans>